<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Settle in Sydney</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/quote">Property Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/priceRank">Price Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ratingRank">Rating Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crimeRank">Crime Ranking</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/unemploymentRank">Unemployment Ranking</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn  btn-outline-secondary my-2 my-sm-0" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<p>unemployment-ranking works!</p>
