<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Search</a>
  <a class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()">Log out</a>
</nav>
<div class="container">
  <form [formGroup]="myform" (submit)="getQuote($event)">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="LGA">Local Government Area</label>
        <select formControlName="LGA" class="form-control" id="LGA">
          <option  *ngFor="let i of LGAArray">{{i}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="propertyType">Property Type</label>
        <select formControlName="propertyType" class="form-control" id="propertyType">
          <option *ngFor="let i of propertyTypeArray">{{i}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="roomType">Room Type</label>
        <select formControlName="roomType" class="form-control" id="roomType">
          <option *ngFor="let i of roomTypeArray">{{i}}</option>
        </select>
<!--        <input formControlName="roomType" type="text" class="form-control" id="roomType" placeholder="Room Type">-->
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="guestCount">Guest Count</label>
        <input formControlName="guestCount" type="number" class="form-control" id="guestCount" placeholder="Guest Count">
      </div>
      <div class="form-group col-md-4">
        <label for="bedCount">Bed Count</label>
        <input formControlName="bedCount" type="number" class="form-control" id="bedCount" placeholder="Bed Count">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" >Get Quote</button>
  </form>
</div>


