<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Settle in Sydney</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/quote">Property Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/priceRank">Price Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ratingRank">Rating Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/safetyRank">Safety Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/unemploymentRank">Unemployment Ranking</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn  btn-outline-secondary my-2 my-sm-0" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <br>
  <form [formGroup]="myform" (submit)="getQuote($event)">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="LGA">Local Government Area</label>
        <select formControlName="LGA" class="form-control" id="LGA">
          <option  *ngFor="let i of LGAArray">{{i}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="propertyType">Property Type</label>
        <select formControlName="propertyType" class="form-control" id="propertyType">
          <option *ngFor="let i of propertyTypeArray">{{i}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="roomType">Room Type</label>
        <select formControlName="roomType" class="form-control" id="roomType">
          <option *ngFor="let i of roomTypeArray">{{i}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 ">
        <label for="guestCount" class="required">Guest Count (1-16)</label>
        <input formControlName="guestCount" type="number" class="form-control" id="guestCount" placeholder="Guest Count">
        <span *ngIf="(this.myform.get('guestCount').dirty || this.myform.get('guestCount').touched) &&
          (this.myform.get('guestCount').invalid && this.myform.get('guestCount').errors.required)">
          Guest Count between 1-16
        </span>
      </div>
      <div class="form-group col-md-4">
        <label for="bedCount" class="required">Bed Count (0-19)</label>
        <input formControlName="bedCount" type="number" class="form-control" id="bedCount" placeholder="Bed Count">
        <span *ngIf="(this.myform.get('bedCount').dirty || this.myform.get('bedCount').touched) &&
          (this.myform.get('bedCount').invalid && this.myform.get('bedCount').errors.required)">
          Bed Count between 0-19
        </span>
      </div>
    </div>
    <button *ngIf="this.myform.valid" type="submit" class="btn btn-primary" >Get Quote</button>
  </form>
  <br>
  <div *ngIf="this.response" class="card bg-light mb-3 text-center" >
    <div class="card-header">Machine Learning Response</div>
    <div class="card-body">
      <h5 class="card-title">Expected price between</h5>
      <div class="card-text">
        <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Low</th>
          <th scope="col">High</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{this.response.lower}}</td>
          <td>{{this.response.upper}}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>


